<GridLayout class="nav" [row]="row" columns="*, auto, *, auto, *" orientation="horizontal">
  <StackLayout
    col="1"
    class="nav__button"
    [nsRouterLink]="['/home']"
    pageTransition="false"
    nsRouterLinkActive="active"
    [nsRouterLinkActiveOptions]="{ exact: true }"
  >
    <Label class="nav__icon fa" text="&#xf015;"></Label>
    <Label class="nav__label" text="Home"></Label>
  </StackLayout>
  <StackLayout
    col="3"
    class="nav__button"
    [nsRouterLink]="['/browse']"
    pageTransition="false"
    nsRouterLinkActive="active"
    [nsRouterLinkActiveOptions]="{ exact: true }"
  >
    <Label class="nav__icon fa" text="&#xf1ea;"></Label>
    <Label class="nav__label" text="Browse"></Label>
  </StackLayout>
</GridLayout>
